header{
    background-color: #bbbbbb;
    padding: 10px 0px;
}
.caja{
width: 75%;
position: relative;
margin: 0 auto;
}
nav{
    position: absolute;
    top: 125px;
    right: 150px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}
.productos{
width: 75%;
margin: 0 auto;
padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
}

.productos h2{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;


}
.descripcion{
    font-size: 18px;
}
.precio{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}