.principal{
    background: #CCCCCC;
    padding: 20px;
}
.titulo-principal{
    text-align: center; 
}
.titulo-centralizado{
    padding-left: 30px;
}

p{
    text-align: center;
}

em strong{
    color: red;
}

#banner{
    width: 100%;
}
.diferenciales{
    background: #ffffff;
    padding: 30px;
}

.items{
    font-style: italic;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagendiferenciales{
    width: 50%;
}